<!DOCTYPE html>
<head>
  <title> Packafig: Webpack Config File Builder</title>

  <script type="text/javascript" src="./lib/angular-route/angular-route.min.js"></script>

  <script type="text/javascript" src="./controllers/homeController.js"></script>

  <!-- TODO: need to link to bootstrap and angular -->

  <script type="text/javascript" src="./lib/angular/angular.min.js"></script>

  <link rel="stylesheet" href="styles/style.css">
</head>
<body>
  <div class="container-fluid">
    <div ng-controller="AppController as appCtrl">
      <form>
        <p>
          Entry file name:
        </p>
        <input type="text" ng-model="appCtrl.entry" />
        <p>
          Output path:
        </p>
        <input type="text" ng-model="appCtrl.outputPath" />
        <p>
          Output filename:
        </p>
        <input type="text" ng-model="appCtrl.outputFilename" />
      </form>
      <!-- TODO: Use bootstrap to format  -->
      <p>
        module.exports: {
          entry: {{ appCtrl.entry }},
          output: {
            path: {{ appCtrl.outputPath }},
            filename: {{appCtrl.outputFilename}},
          }
          module: {
            loaders: [
            {
              test: /\.css$/,
              loader: 'style!css',
            },
            ],
          },
        }
      </p>

    </div>
  </div>

  <form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Form Name</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Text Input</label>
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control input-md">
  <span class="help-block">help</span>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Text Input</label>
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control input-md">
  <span class="help-block">help</span>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Text Input</label>
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control input-md">
  <span class="help-block">help</span>
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="selectmultiple">Select Multiple</label>
  <div class="col-md-4">
    <select id="selectmultiple" name="selectmultiple" class="form-control" multiple="multiple">
      <option value="css">CSS</option>
      <option value="sass">Sass</option>
      <option value="ES6">ES6 JS</option>
      <option value="Coffeescript">Coffeescript</option>
    </select>
  </div>
</div>

</fieldset>
</form>

</body>
