<!DOCTYPE html>
<head>
  <title> Packafig: Webpack Config File Builder</title>

  <script type="text/javascript" src="./lib/angular-route/angular-route.min.js"></script>

  <script type="text/javascript" src="./controllers/homeController.js"></script>

  <link rel="stylesheet" type="text/css" ref="bower_components/bootstrap/dist/css/bootstrap.css">

  <script src="bower_components/jquery/dist/jquery.js"></script>

  <script src="bower_components/jquery/dist/js/bootstrap.js"></script>

  <script type="text/javascript" src="./lib/angular/angular.min.js"></script>

  <link rel="stylesheet" href="styles/style.css">
</head>
<div ng-controller="AppController as appCtrl">

  <form>
    <p>
      Entry file name:
    </p>
    <input type="text" ng-model="appCtrl.entry" />
    <p>
      Output path:
    </p>
    <input type="text" ng-model="appCtrl.outputPath" />
    <p>
      Output filename:
    </p>
    <input type="text" ng-model="appCtrl.outputFilename" />
  </form>
<!-- TODO: Use bootstrap to format  -->
  <p>
  module.exports: {
      entry: {{ appCtrl.entry }},
      output: {
        path: {{ appCtrl.outputPath }},
        filename: {{appCtrl.outputFilename}},
      }
      module: {
        loaders: [
          {
            test: /\.css$/,
            loader: 'style!css',
          },
        ],
      },
    }
  </p>

</div>
