@import 'https://fonts.googleapis.com/css?family=Questrial';

body {
  font-family: 'Questrial', sans-serif;
}

#live-config{
  background-color: #7FA1FF;
  color: #04102F;
  font-size: large;
  font-weight: bold;
  border-radius: 36px;
}
